.form__input {
    /*margin-bottom: 30px;*/
    border: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
}
