.header__nav-link{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding:0;
    margin: 51px 0 46px 0;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: opacity .7s;
}

.header__nav-link:hover{
    opacity: .7
}