.header__email {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
    padding:0;
    margin: 51px 0 auto 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}