.popup__container_type_infotooltip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 330px;
    z-index: 10;
    background-color: white;
}