.popup__container {
    max-width: 430px;
    max-height: 330px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

@media screen and (max-width: 1050px) {
    .popup__container {
        max-width: 282px;
        width: 100%;
        min-height: 322px;
    }
}